@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
}

a {
	color: #e0003f;
	text-decoration: none;
}

a:hover {
	color: #008fb7;
}

#logo {
	width: 350px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#canvas {
	margin: 0 auto;
}

#canvas_container {
	margin: 0 auto;
}

#button_container {
	width: 1280px;
	margin-top: 20px;
}

#button_preview {
	background-color: #008fb7;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Londrina Solid",Arial,Helvetica,sans-serif;
    font-size: 24px;
    padding: 10px;
    text-transform: uppercase;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

#button_preview:hover, #button_submit:hover, #button_create:hover {
	background-color: #000000;
}

#button_submit {
	background-color: #e0003f;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Londrina Solid",Arial,Helvetica,sans-serif;
    font-size: 24px;
    padding: 10px;
    text-transform: uppercase;
	float: right;
	cursor: pointer;
}

#button_create {
	background-color: #e0003f;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Londrina Solid",Arial,Helvetica,sans-serif;
    font-size: 24px;
    padding: 10px;
    text-transform: uppercase;
	cursor: pointer;
	margin-left: 10px;
}

#text_add {
	padding: 5px;
	font-family: "Londrina Solid",Arial,Helvetica,sans-serif;
	font-size: 26px;
	margin-left: 10px;
}

.credits {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	width: 280px;
	margin-left: 10px;
	margin-right: 10px;
}

#credits-2 {
	width: 400px;
}

#success {
	width: 100%;
	text-align: center;
	font-size: 20px;
}